name: PR Labeler
on:
  pull_request:
    types: [opened]

jobs:
  pr-labeler:
    permissions:
      contents: read
      pull-requests: write

    runs-on: ubuntu-22.04
    steps:
      - uses: TimonVS/pr-labeler-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
